# Pandas Dataframe

### how to create python DataFrame?

In [3]:
import pandas as pd

#### empty dataframe

In [4]:
emp_df=pd.DataFrame()
print(emp_df)

Empty DataFrame
Columns: []
Index: []

In [5]:
list=['a','b','c','d']
print(list)

['a', 'b', 'c', 'd']

In [7]:
df1=pd.DataFrame(list)
print(df1)

   0
0  a
1  b
2  c
3  d

In [8]:
df1

   0
0  a
1  b
2  c
3  d

In [9]:
ls_of_ls=[[1,2,3],[2,3,4],[4,5,6]]
print(ls_of_ls)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [10]:
df2=pd.DataFrame(ls_of_ls)
print(df2)

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [11]:
df2

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [13]:
dict1={'id':[1,2,3,4]}
print(dict1)

{'id': [1, 2, 3, 4]}

In [15]:
df3=pd.DataFrame(dict1)
df3

   id
0   1
1   2
2   3
3   4

In [19]:
dict1={'id':[1,2,3,4],'sn':[1,2,3,4]}
print(dict1)

{'id': [1, 2, 3, 4], 'sn': [1, 2, 3, 4]}

In [20]:
dict1

{'id': [1, 2, 3, 4], 'sn': [1, 2, 3, 4]}

In [21]:
df3=pd.DataFrame(dict1)
df3

   id  sn
0   1   1
1   2   2
2   3   3
3   4   4